.first-section-content {
    margin-top: 12vh;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    > h1 {
        color: #eee;
        width: 400px;
        text-align: center;
        font-weight: 500;
        margin: auto;
        margin-top: 5px;
        font-size: 29px;
    }
    > img {
        width: 36px;
        margin-left: calc(50% - 17px);
        opacity: 0.95;
    }
    .directions {
        margin-top: 32px;
        width: 470px;
        border: 1px solid #427bf7;
        box-shadow: 0 0 82px -20px #4177eb;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: rgba($color: #000, $alpha: 0.1);
        span {
            margin-left: calc(50% - 15px);
            color: #c0c0c0;
            font-size: 30px;
        }
        h3 {
            margin: 0;
            color: #c5c5c5;
            font-weight: 400;
            text-align: center;
        }
        section {
            padding: 20px 0;
        }
        >section:hover {
            cursor: pointer;
            h3{
                color: white;
            }
            span {
                color: #eee
            }
        }
    }

    button {
        width: 180px;
        padding: 12px;
        font-weight: 500;
        font-size: 17px;
        color: #eee;
        background: #427bf7;
        border: 1px solid #275ac9;
        border-bottom: 2px solid #275ac9;
        border-radius: 6px;
        margin-top: 29px;
        margin-left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background: #356de6;
            border-bottom: 1px solid #275ac9;
        }
    }
}